body {
    margin: 0;
    width: 100%;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

#edit-user-fields {
    display: flex;
}

#edit-user-fields > * {
    width: 10%;
}